kaki{
    font-size: 15;
    color: red;
}
berbulu{
    font-size: 12;
    color:aqua
}
terbang{
    font-style: italic;
    font-size: large;
    color: blue;
}
menyusui{
    text-decoration: dashed;
    color: brown;
    font-size: 50px;
}
